body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 10px;
    padding: 5px;   
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.first {
    display: flex;
    padding: 80px 120px 80px 120px;
    gap: 80px;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.first-image {
    width: 400px;
    height: auto;
}

.first-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 400px;
   
}

.first-left-top {
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}

.first-left-bottom {
    font-size: 18px;
    color: #E5E7EB;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 60px 60px 60px;
    gap: 30px;
}

.second-top {
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
}

.second-bottom {
    display: flex;
    gap: 10px;
}

.second-image {
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 25px;
    border-color: #3882F6;
}

.second-text {
    text-align: center;
}

.image.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.third-top {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.third-bottom {
    font-weight: bold;
    text-align: end;
}

.fourth {
    display: flex;
    justify-content: center;
}

.fourth-box {
    background-color: #3882F6;
    margin: 40px 90px 40px 90px;
    display: flex;
    width: 800px;
    height: 70px;
    padding: 50px;
    gap: 50px;
    justify-content: center;

}

.fourth-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.fourth-left-top {
    font-weight: bolder;
}

.fourth-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    width: 100px;
    height: auto;
    font-size: 20px;
}

.second-button {
    border-color: white;
    border: 2px solid;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 60px;
    justify-content: center;
    align-items: center;
}