body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    margin-left: auto;   
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.first {
    display: flex;
    padding: 80px 120px 80px 120px;
    gap: 80px;
    justify-content: flex-start;
    background-color: #1F2937;
    color: white;
}

.first-image {
    width: 400px;
    height: auto;
}

.first-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.first-left-top {
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}

.first-left-bottom {
    font-size: 18px;
    color: #E5E7EB;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 60px;
}

.second-top {
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
}

.second-bottom {
    display: flex;
}

.second-image {
    width: 200px;
    height: 200px;
    border: solid;
}

.image.box {
    display: flex;
    flex-direction: column; 
}

.third {
    background-color: #E5E7EB;
}

.third-top {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.fourth-box {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    border-color: white;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}