body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header-links {
    display: flex;
    margin-left: auto;
}

.first {
    display: flex;
    padding: 80px;
    gap: 80px;
    justify-content: center;
}

.first-image {
    width: 400px;
    height: auto;
}

.first-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-bottom {
    display: flex;
}

.second-image {
    width: 200px;
    height: 200px;
    border: solid;
}

.image.box {
    display: flex;
    flex-direction: column; 
}